@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans", sans-serif;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fafafb;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 480px) {
  body {
    padding-left: 0%;
    padding-right: 0%;
    width: 100vw;
    height: 100vh;
  }
}
